/* Write your global styles here, in PostCSS syntax */

@import './styles/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --primary: 18, 18, 23;
  --primary-hover: 32, 32, 40;
  --primary-active: 50, 50, 63;
  --secondary: 128, 162, 132;
  --secondary-hover: 107, 148, 113;
  --secondary-active: 90, 124, 96;
  --default: 231, 234, 237;
  --default-hover: 217, 221, 225;
  --default-active: 193, 199, 206;
  /* Text */
  --text: 18, 18, 23;
  --text-primary: 55, 65, 81;
  --text-secondary: 75, 85, 107;
  --text-faint: 135, 141, 156;
  --text-button: 255, 255, 255;
  /* Background */
  --background: 255, 255, 255;
  --shade: 255, 255, 255;
  --tooltip: 255, 255, 255;
  --tooltip-text: 18, 18, 23;
  /* System */
  --warning: 253, 182, 34;
  --warning-hover: 254, 207, 112;
  --warning-active: 251, 170, 2;
  --success: 34, 197, 94;
  --success-hover: 31, 180, 87;
  --success-active: 29, 165, 80;
  --danger: 227, 43, 61;
  --danger-hover: 213, 28, 46;
  --danger-active: 189, 26, 41;
  /* Components */
  --link: 0, 112, 239;
  --input: 229, 231, 235;
  --input-focus: 255, 255, 255;
  --border: 219, 222, 227;
  /* Header */
  --header: var(--background);
  --header-border: var(--border);
  --header-text: var(--text);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Mukta', 'Nunito Sans', 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
  overflow-y: scroll;
  overflow-x: clip;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  scrollbar-width: thin;
}

*:focus {
  @apply focus:outline-none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.no-select::selection {
  @apply bg-transparent text-transparent;
}

.yes-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

hover-thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-thin-scroll:hover {
  scrollbar-color: auto;
}

.hover-thin-scroll::-webkit-scrollbar {
  @apply hidden w-[3px];
}

.hover-thin-scroll:hover::-webkit-scrollbar {
  display: block;
}

.hidden-scrollbar {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.scroll-bar {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  @apply relative overflow-x-auto overflow-y-hidden whitespace-nowrap;
}

.scroll-bar:hover {
  scrollbar-color: rgba(0, 0, 0, 0) rgba(255, 255, 255, 0);
}

.scroll-bar::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

/* The grabbable scrollbar button  */
.scroll-bar:hover::-webkit-scrollbar-thumb {
  @apply bg-[rgba(0,0,0,0)] rounded-[30px];
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);
  border-radius: 30px;
  cursor: pointer;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0);
}

/* The vertical scrollbar background */
.scroll-bar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

.link {
  color: rgb(var(--link));
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Accessibility */
a,
button {
  @apply focus-visible:transition-none focus-visible:ring;
}

/* Code */
.code {
  @apply text-[14px] py-0.5 px-1.5 mx-0 rounded-sm bg-default-hover text-text font-semibold cursor-auto transition duration-200;
}

/* Splide */
.splide__pagination__page {
  background: rgba(var(--primary), 0.3);
}

.splide__pagination__page.is-active {
  background: rgba(var(--primary), 0.4);
}
